.review{
  padding: 80px 0;
  background: #F8F8FF;

  &__title{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    color: #23283B;
    margin-bottom:52px;
  }

  &__list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;

  }
  &__item{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #3035C470;
    transition: 2s;
    position: relative;
    cursor: pointer;

    &::before{
      position: absolute;
      content: "";
      width: 0;
      height: 3px;
      background: #E6514A;
      bottom: -20px;
      left: 0;

    }


    span{
      opacity: 0;
      transition: 1s;
      font-size: 0;
    }
    &_active{
      color: #E6514A;
      &::before{
        width: 100%;
        transition: 1s;
      }

      span{
       opacity: 100%;
        transition: 1s;
        font-size: 18px;
      }
    }
  }

  &__tabs-content {
    display: none;
    &_active {
      display: block;
    }
  }

}